@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>@Message</h1>
<br><br>
<h2>Projeto Blazor com .NET</h2>

<button class="btn btn-primary">Clique aqui</button>

<style>
    li {
        background-color: maroon;
        color: white;
        padding: 10px;
    }
</style>

@* @code é o código em C#*@

@code {

    public string Message = "Vinícius Vicente Ávila Lima - 5° DSM";

}